<!DOCTYPE html>
<html lang="en">

<head>

    <title>obo-cards</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

    <h1 class="display-1">this is my landing page</h1>
    <p>as of today, it's 11-28-24. happy thanksgiving <3</p>

    <h3>these are the planned pages i want to have :</h3>

    <p> - a login / signup / logout <br>
         - a create flashcard set screen (requires account) <br>
         - a search flashcard sets screen <br>
         - a credits / acknowledgements page <br>
    </p>

    <h3>the links to these pages will be right under this line!</h3>

    <a href = "sign_up">sign up</a> <br>
    <a href = "sign_in">sign in</a> <br>
    <a href = "sign_out">sign out</a>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-LOmwrCi4DByMcfBncEX2AYFepUl7CjRvaqHjZn5ulbI7IqxJ/VIq5RkRxFfGRNtC" crossorigin="anonymous"></script>

</body>
</html>